/*---------------------------------------------------------
 *
 * "colours.css" overrides colours in main CSS file -> "style.css".
 * 
 * Use the colour schemes bellow colours/patterns or add your own.
 *
 * To apply a particular colour scheme just add names to
 * body tags on all pages. See example:
 *
 * <body id="blue" class="transparent1">
 *
 * If you change colours in "styles.css" directly you don't need "colors.css" file.
 *
----------------------------------------------------------/


/*========== B A C K G R O U N D   S E T T I N G S ==========*/

body { background-color:#F6F6F6; }



/*========== C O L O R   S E T T I N G S ==========*/


/*---------------- PINK - #b97089 ----------------*/
#pink .button {background:#b97089;}
#pink .button:hover {color: white !important;background-color: #555;}
#pink .button.secondary {background:#444;color:#fff;}
#pink .button.search {background:url("../images/btn_search.png") no-repeat center center #b97089;}
#pink .button.search:hover {background:url("../images/btn_search.png") no-repeat center center #555;}
#pink .postdate {background:#b97089;}
#pink .link-btn {color:#b97089;}
#pink a:hover {color: #555;}
#pink .subfooter {background-color:#b97089;}
#pink .top-bar ul > li:hover a {background: #b97089;color:#fff;}
#pink .top-bar ul > li.has-dropdown .dropdown li a:hover {background: #b97089;color:#fff;}
#pink .top-bar ul > li a.active {color:#fff;background: #b97089;}
#pink .top-bar ul > li.has-dropdown .dropdown li a {background: #333;}
#pink .tp-caption.very_big_colour{background: #b97089;}	
#pink .portfolio-item:hover .portfolio-item-content {border-bottom:1px solid #b97089;}
#pink .ch-img-1 {background-image: url(../images/circles/pink_circle_1.jpg);}
#pink .ch-img-2 {background-image: url(../images/circles/pink_circle_2.jpg);}
#pink .ch-img-3 {background-image: url(../images/circles/pink_circle_3.jpg);}
#pink .ch-img-4 {background-image: url(../images/circles/pink_circle_4.jpg);}
#pink .acc_trigger {background:url(../images/accordions/pink_acc_closed.png) no-repeat right center;}
#pink .acc_trigger.active {background:url(../images/accordions/pink_acc_opened.png) no-repeat right center;}
#pink ul.pagination li.current a {background:#b97089;}
#pink ul.pagination li:hover a, ul.pagination li a:focus {color:#fff;}
#pink .sb-header {color:#b97089;}
#pink .ph-bg1 {background: url(../images/page_header_3.jpg) no-repeat center top;}
#pink .option-set li a {background:#f0f0f0;color:#555;}
#pink .option-set li a.selected {color:#fff;background:#b97089;}
#pink input[type=submit], button {background:#b97089;}
#pink input[type=submit]:hover, button:hover {background:#555;}
#pink input[type=submit]:active, button:active {background:#b97089;}
#pink .box:hover {border-bottom:1px solid #b97089;}
#pink ::selection {background: #b97089; color:#FFF;}
#pink ::-moz-selection {background: #b97089; color:#FFF;}




/*---------------- PURPLE - #5E6872 ----------------*/
#purple .button {background:#5E6872;}
#purple .button:hover {color: white !important;background-color: #555;}
#purple .button.secondary {background:#444;color:#fff;}
#purple .button.search {background:url("../images/btn_search.png") no-repeat center center #5E6872;}
#purple .button.search:hover {background:url("../images/btn_search.png") no-repeat center center #555;}
#purple .postdate {background:#5E6872;}
#purple .link-btn {color:#5E6872;}
#purple a:hover {color: #555;}
#purple .subfooter {background-color:#5E6872;}
#purple .top-bar ul > li:hover a {background: #5E6872;color:#fff;}
#purple .top-bar ul > li.has-dropdown .dropdown li a:hover {background: #5E6872;color:#fff;}
#purple .top-bar ul > li a.active {color:#fff;background: #5E6872;}
#purple .top-bar ul > li.has-dropdown .dropdown li a {background: #333;}
#purple .tp-caption.very_big_colour{background: #5E6872;}	
#purple .portfolio-item:hover .portfolio-item-content {border-bottom:1px solid #5E6872;}
#purple .ch-img-1 {background-image: url(../images/circles/purple_circle_1.jpg);}
#purple .ch-img-2 {background-image: url(../images/circles/purple_circle_2.jpg);}
#purple .ch-img-3 {background-image: url(../images/circles/purple_circle_3.jpg);}
#purple .ch-img-4 {background-image: url(../images/circles/purple_circle_4.jpg);}
#purple .acc_trigger {background:url(../images/accordions/purple_acc_closed.png) no-repeat right center;}
#purple .acc_trigger.active {background:url(../images/accordions/purple_acc_opened.png) no-repeat right center;}
#purple ul.pagination li.current a {background:#5E6872;}
#purple ul.pagination li:hover a, ul.pagination li a:focus {color:#fff;}
#purple .sb-header {color:#5E6872;}
#purple .ph-bg1 {background: url(../images/page_header_6.jpg) no-repeat center top;}
#purple .option-set li a {background:#f0f0f0;color:#555;}
#purple .option-set li a.selected {color:#fff;background:#5E6872;}
#purple input[type=submit], button {background:#5E6872;}
#purple input[type=submit]:hover, button:hover {background:#555;}
#purple input[type=submit]:active, button:active {background:#5E6872;}
#purple .box:hover {border-bottom:1px solid #5E6872;}
#purple .circles_block {background:#333;border-top:8px #3F3F3F solid;border-bottom:8px #3F3F3F solid;}
#purple .footer {background:#333;border-top:8px #3F3F3F solid;}
#purple ::selection {background: #5E6872; color:#FFF;}
#purple ::-moz-selection {background: #5E6872; color:#FFF;}




/*---------------- BLUE - #5796C7 ----------------*/
#blue .button {background:#5796C7;}
#blue .button:hover {color: white !important;background-color:#555;}
#blue .button.secondary {background:#444;color:#fff;}
#blue .button.search {background:url("../images/btn_search.png") no-repeat center center #5796C7;}
#blue .button.search:hover {background:url("../images/btn_search.png") no-repeat center center #555;}
#blue .postdate {background:#5796C7;}
#blue .link-btn {color:#5796C7;}
#blue a:hover {color: #555;}
#blue .subfooter {background-color:#5796C7;}
#blue .top-bar ul > li:hover a {background:#5796C7;color:#fff;}
#blue .top-bar ul > li.has-dropdown .dropdown li a:hover {background:#5796C7;color:#fff;}
#blue .top-bar ul > li a.active {color:#fff;background: #5796C7;}
#blue .top-bar ul > li.has-dropdown .dropdown li a {background: #333;}
#blue .tp-caption.very_big_colour{background: #5796C7;}	
#blue .portfolio-item:hover .portfolio-item-content {border-bottom:1px solid #7faf4b;}
#blue .ch-img-1 {background-image:url(../images/circles/blue_circle_1.jpg);}
#blue .ch-img-2 {background-image: url(../images/circles/blue_circle_2.jpg);}
#blue .ch-img-3 {background-image: url(../images/circles/blue_circle_3.jpg);}
#blue .ch-img-4 {background-image: url(../images/circles/blue_circle_4.jpg);}
#blue .acc_trigger {background:url(../images/accordions/blue_acc_closed.png) no-repeat right center;}
#blue .acc_trigger.active {background:url(../images/accordions/blue_acc_opened.png) no-repeat right center;}
#blue ul.pagination li.current a {background:#5796C7;}
#blue ul.pagination li:hover a, ul.pagination li a:focus {color:#fff;}
#blue .sb-header {color:#5796C7;}
#blue .ph-bg1 {background: url(../images/page_header_5.jpg) no-repeat center top;}
#blue .option-set li a {background:#f0f0f0;color:#555;}
#blue .option-set li a.selected {color:#fff;background:#5796C7;}
#blue input[type=submit], button {background:#5796C7;}
#blue input[type=submit]:hover, button:hover {background:#555;}
#blue input[type=submit]:active, button:active {background:#5796C7;}
#blue .box:hover {border-bottom:1px solid #5796C7;}
#blue ::selection {background: #5796C7; color:#FFF;}
#blue ::-moz-selection {background: #5796C7; color:#FFF;}



/*---------------- GREEN - #7faf4b ----------------*/
#green .button {background:#7faf4b;}
#green .button:hover {color: white !important;background-color:#555;}
#green .button.secondary {background:#444;color:#fff;}
#green .button.search {background:url("../images/btn_search.png") no-repeat center center #7faf4b;}
#green .button.search:hover {background:url("../images/btn_search.png") no-repeat center center #555;}
#green .postdate {background:#7faf4b;}
#green .link-btn {color:#7faf4b;}
#green a:hover {color: #555;}
#green .subfooter {background-color:#7faf4b;}
#green .top-bar ul > li:hover a {background: #7faf4b;color:#fff;}
#green .top-bar ul > li.has-dropdown .dropdown li a:hover {background: #7faf4b;color:#fff;}
#green .top-bar ul > li a.active {color:#fff;background: #7faf4b;}
#green .top-bar ul > li.has-dropdown .dropdown li a {background: #333;}
#green .tp-caption.very_big_colour{background: #7faf4b;}	
#green .portfolio-item:hover .portfolio-item-content {border-bottom:1px solid #7faf4b;}
#green .ch-img-1 {background-image:url(../images/circles/green_circle_1.jpg);}
#green .ch-img-2 {background-image: url(../images/circles/green_circle_2.jpg);}
#green .ch-img-3 {background-image: url(../images/circles/green_circle_3.jpg);}
#green .ch-img-4 {background-image: url(../images/circles/green_circle_4.jpg);}
#green .acc_trigger {background:url(../images/accordions/purple_acc_closed.png) no-repeat right center;}
#green .acc_trigger.active {background:url(../images/accordions/purple_acc_opened.png) no-repeat right center;}
#green ul.pagination li.current a {background:#7faf4b;}
#green ul.pagination li:hover a, ul.pagination li a:focus {color:#fff;}
#green .sb-header {color:#7faf4b;}
#green .ph-bg1 {background: url(../images/page_header_4.jpg) no-repeat center top;}
#green .option-set li a {background:#f0f0f0;color:#555;}
#green .option-set li a.selected {color:#fff;background:#7faf4b;}
#green input[type=submit], button {background:#7faf4b;}
#green input[type=submit]:hover, button:hover {background:#555;}
#green input[type=submit]:active, button:active {background:#7faf4b;}
#green .box:hover {border-bottom:1px solid #7faf4b;}
#green .circles_block {background:#333;border-top:8px #3F3F3F solid;border-bottom:8px #3F3F3F solid;}
#green .footer {background:#333;border-top:8px #3F3F3F solid;}
#green ::selection {background: #7faf4b; color:#FFF;}
#green ::-moz-selection {background: #7faf4b; color:#FFF;}





/*---------------- RED - #F73333 ----------------*/
#red .button {background:#f73333;}
#red .button:hover {color: white !important;background-color: #555;}
#red .button.secondary {background:#444;color:#fff;}
#red .button.search {background:url("../images/btn_search.png") no-repeat center center #f73333;}
#red .button.search:hover {background:url("../images/btn_search.png") no-repeat center center #555;}
#red .postdate {background:#f73333;}
#red .link-btn {color:#f73333;}
#red a:hover {color: #555;}
#red .subfooter {background-color:#f73333;}
#red .top-bar ul > li:hover a {background: #f73333;color:#fff;}
#red .top-bar ul > li.has-dropdown .dropdown li a:hover {background: #f73333;color:#fff;}
#red .top-bar ul > li a.active {color:#fff;background: #f73333;}
#red .top-bar ul > li.has-dropdown .dropdown li a {background: #333;}
#red .tp-caption.very_big_colour{background: #f73333;}	
#red .portfolio-item:hover .portfolio-item-content {border-bottom:1px solid #f73333;}
#red .ch-img-1 {background-image: url(../images/circles/red_circle_1.jpg);}
#red .ch-img-2 {background-image: url(../images/circles/red_circle_2.jpg);}
#red .ch-img-3 {background-image: url(../images/circles/red_circle_3.jpg);}
#red .ch-img-4 {background-image: url(../images/circles/red_circle_4.jpg);}
#red .acc_trigger {background:url(../images/accordions/red_acc_closed.png) no-repeat right center;}
#red .acc_trigger.active {background:url(../images/accordions/red_acc_opened.png) no-repeat right center;}
#red ul.pagination li.current a {background:#f73333;}
#red ul.pagination li:hover a, ul.pagination li a:focus {color:#fff;}
#red .sb-header {color:#f73333;}
#red .ph-bg1 {background: url(../images/page_header_7.jpg) no-repeat center top;}
#red .option-set li a {background:#f0f0f0;color:#555;}
#red .option-set li a.selected {color:#fff;background:#f73333;}
#red input[type=submit], button {background:#f73333;}
#red input[type=submit]:hover, button:hover {background:#555;}
#red input[type=submit]:active, button:active {background:#f73333;}
#red .box:hover {border-bottom:1px solid #f73333;}
#red .circles_block {background:#333;border-top:8px #3F3F3F solid;border-bottom:8px #3F3F3F solid;}
#red .footer {background:#333;border-top:8px #3F3F3F solid;}
#red ::selection {background: #f73333; color:#FFF;}
#red ::-moz-selection {background: #f73333; color:#FFF;}


